<h1> NUEVO TALLER</h1>
<form action="/create" method="post">
<fieldset>
    <label for="name">Nombre: </label><br>
    <input type="text" name="name"  id="name">
</fieldset>
    
<fieldset>
    <label for="descripcion">Descripcion: </label><br>
    <textarea name="descripcion" rows="10" cols="40" id="descripcion">
    </textarea>
</fieldset>
<fieldset>
    <input type="submit">
</fieldset>
</form>
